<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Employee Id: </b></label> {{employee.eid}}
    </div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstname}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastname}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.email}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{employee.gender}}
    </div>
    <div>
        <label> <b> Designation: </b></label> {{employee.desg}}
    </div>
    <div>
        <label> <b> Department ID: </b></label> {{employee.did}}
        <label> <b> Department: </b></label> {{employee.dpt}}
    </div>
    <div>
        <label> <b> Manager: </b></label> {{employee.manager}}
        <label> <b> Manager ID: </b></label> {{employee.managerID}}
    </div>
    <div>
        <label> <b> Location: </b></label> {{employee.location}}
    </div>
    <div>
        <label> <b> Salary: </b></label> {{employee.salary}}
    </div>
</div>
